main {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(160deg, rgb(75, 72, 145) 20%, rgb(150, 87, 206) 53%, rgb(89, 198, 220) 90%);
}
main #header{
 text-align: center;
 font-size: 2em;
 font-weight: 700;
 font-style: italic;
 color: rgb(225,225,225);
 padding: 50px 0;
}
#game-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  
}
#game-container {
  padding: 40px;
  background-color: rgba(20, 18, 18, 0.671);  
  border-radius: 20px;
}
#game-container #players{
display: flex;
justify-content: space-around;
margin-bottom: 30px;
}
#players li{
  gap :10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.player-info input{
  background-color: rgba(32, 62, 97, 0.512);
  border: none;
  padding: 5px 20px;
  color: #fff;
}
.player-info{
  display: flex;
  justify-content: center;
  gap: 5px;
}
#players li button{
  background-color: unset;
  border: none;
  color: #fff;
  cursor: pointer;
}
#game-board {
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr;
  gap:10px
}
#game-board {
  display: flex;
  justify-content: space-evenly;
}
.game-board-ol{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
#game-board ol li button{
  background-color: rgb(177, 160, 160);
  border: none;
  width: 100px;
  height: 100px;
  border: none;
  border-spacing: 10px;
  font-size: 100px;
}
#players .active{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: red;
  border-radius: 20px;
  padding: 10px;
}
.log-wrapper{
  display: flex;
  justify-content: center ;
}
